.decisionPage {
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr; /* header + contenido */
    color: #666666;
    align-items: center;
    justify-items: center;
}

.content {
    display: grid;
    place-items: center;       /* centra vertical y horizontal */
    text-align: center;
    width: 90%;
}

.bigTitle {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #3F9837;
}

.choicesContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 1rem;
    transition: border-color 0.3s;
}

.choice:hover {
    border-color: #3F9837;
}

.choiceImageContainer {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
}

.choiceImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btnRow {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.btnDecision {
    background-color: #3F9837;
}

.btnDecision:hover {
    background-color: #36832e;
    cursor: pointer;
}

@media (max-width: 400px) {
    .bigTitle {
        font-size: 2rem;
    }
    .content {
        font-size: 0.9rem;
    }
    .choiceImageContainer {
        width: 90px;
        height: 90px;
    }
    .choiceImage {
        width: 80%;
        height: 80%;
    }
    .btnRow {
        display: flex;
    }
    .choicesContainer {
        display: none;
    }
}