.etaPage {
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr; /* header + contenido */
    color: #666666;
    justify-items: center;
}

.content {
    display: grid;
    place-items: center;       /* centra vertical y horizontal */
    text-align: center;
    width: 90%;
}

.stationTitle {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.lineTitle {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.etaTitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #3F9837;
}

.etaTime {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    color: #3F9837;
    font-family: 'LemonMilk', sans-serif;
}

.mapContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.mapLabel {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #666666;
}


@media (max-width: 400px) {
    .bigTitle {
        font-size: 2rem;
    }
    .content {
        font-size: 0.9rem;
    }
    .choiceImageContainer {
        width: 90px;
        height: 90px;
    }
    .choiceImage {
        width: 80%;
        height: 80%;
    }
    .btnRow {
        display: flex;
    }
    .choicesContainer {
        display: none;
    }
}