.tripQuestionsPage {
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr; /* header + contenido */
    color: #666666;
    align-items: start;
    justify-items: center;
}

.content {
    display: grid;
    place-items: center;       /* centra vertical y horizontal */
    text-align: center;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
}

.bigTitle {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2rem;
}

.stationsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
}


@media (max-width: 400px) {
    .bigTitle {
        font-size: 2rem;
    }
    .content {
        font-size: 0.9rem;
    }
    .choiceImageContainer {
        width: 90px;
        height: 90px;
    }
    .choiceImage {
        width: 80%;
        height: 80%;
    }
    .btnRow {
        display: flex;
    }
    .choicesContainer {
        display: none;
    }
}